.section3
    .container
        .section3__wrap
            .section3__image
                img(
                    alt="" 
                    src="assets/images/section3image.svg"
                    )
            .section3__content
                h2 Thêm một bạn
                h3 Thêm ngàn niềm vui!
                p
                    | Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                .section3__button
                    a.button.section3__button--transparent(href="#")
                        | Giới thiệu
                        i.fa-regular.fa-circle-play
                    a.button(href="#") Khám phá ngay
        
