.product-item
    .product-item__image
        img(
        alt="" 
        src="assets/images/image 2.jpg"
        )
    .product-item__content
        a.product-item__title(href="#") MO502 - Poodle Tiny Vàng
        .product-item__desc
            .product-item__gender
                | Giống:
                b Đực
            .product-item__separator
            .product-item__age
                | Tuổi:
                b 02 tháng
        .product-item__price 3.900.000 VND